<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>818260806165-ivhq248dd6139spu7rq3rbp5reaeb6t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818260806165-ivhq248dd6139spu7rq3rbp5reaeb6t5</string>
	<key>API_KEY</key>
	<string>AIzaSyDc2piheaZlmt7y7MfU7_rGHApUd2RY6Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>818260806165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlexDolenko.jokes</string>
	<key>PROJECT_ID</key>
	<string>jokes-de8b5</string>
	<key>STORAGE_BUCKET</key>
	<string>jokes-de8b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818260806165:ios:0034de08bf1ba52e</string>
	<key>DATABASE_URL</key>
	<string>https://jokes-de8b5.firebaseio.com</string>
</dict>
</plist>